body {
  background-color: #006400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.grid {
  display: grid;
  gap: 5px;
}
.cell {
  background-color: #004d00;
  border: 2px solid #003300;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}
.cell.active {
  background-image: url('../../img/img.png');
  background-size: cover;
  background-position: center;
}